---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import { getCollection } from "astro:content";
var PricingData = await getCollection("Pricing");
PricingData = PricingData.filter((data) => data.slug.startsWith("plan-"));
const IndexData = await getEntryBySlug("Pricing", "index");
const {
  header,
  description,
  label,
  monthlyPrice,
  yearlyPrice,
  planDescription,
  points,
  button,
} = IndexData?.data;
---

<section class='section-pricing'>
  <div class='relative z-10'>
    <div class='section-space'>
      <div class='container-default'>
        <div class='jos'>
          <div class='mx-auto max-w-[636px]'>
            <div class='mb-5'>
              <h2
                class='text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#1212121] lg:text-5xl xl:text-[56px]'>
                {header}
              </h2>
            </div>
            <p class='text-center'>
              {description}
            </p>
          </div>
        </div>
        <div class='jos'>
          <div
            class='my-[50px] flex flex-row items-center justify-center gap-6'>
            <span class='font-bold'>Per Month</span>
            <label for='toggle' class='flex cursor-pointer items-center'>
              <span
                class='relative h-[35px] w-[70px] rounded-[35px] bg-[#121212]'>
                <input id='toggle' type='checkbox' class='hidden' />
                <span
                  class='toggle_dot absolute h-[35px] w-[35px] rounded-full bg-[#C1FF00] transition-all duration-300'
                ></span>
              </span>
            </label>
            <span class='font-bold'>Per Year</span>
          </div>
          <div class='mx-auto max-w-[1076px]'>
            <div
              class='flex flex-col items-center rounded-[10px] border border-ColorBlack bg-white p-10 md:flex-row md:divide-x md:px-10 md:py-0 lg:px-[73px]'>
              <div
                class='w-full text-center md:w-1/2 md:py-[50px] md:pr-10 md:text-left lg:pr-20'>
                <div class='text-xl leading-[1.6] tracking-tighter'>
                  {label}
                </div>
                <div class='month price-month'>
                  <span
                    class='font-PublicSans text-[50px] font-bold leading-[1.4] text-[#121212] lg:text-[56px]'
                    >{monthlyPrice}</span
                  >/Per Month
                </div>
                <div class='annual hidden price-year'>
                  <span
                    class='font-PublicSans text-[50px] font-bold leading-[1.4] text-[#121212] lg:text-[56px]'
                    >{yearlyPrice}</span
                  >/Per Year
                </div>
                <p>
                  {planDescription}
                </p>
              </div>
              <div
                class='w-full md:w-1/2 md:py-[50px] md:pl-10 lg:pl-20 xl:pl-32'>
                <div class='mb-6 text-center font-semibold md:text-left'>
                  That includes:
                </div>
                <ul class='flex flex-col gap-3'>
                  {
                    points?.map((point: string) => (
                      <li class='font-semibold flex'>
                        <Image
                          src={"/assets/img/icons/badge.svg"}
                          height='20'
                          width='20'
                          alt='badgeIcon'
                          class='w-5 mr-5'
                        />
                        {point}
                      </li>
                    ))
                  }
                </ul>
                <a
                  href={button?.link}
                  class='btn mt-[30px] block rounded-[3px] border-none bg-[#C1FF00] py-[18px] text-ColorBlack hover:bg-[#a6ff00] xl:mt-[50px]'
                  >{button?.text}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class='absolute top-28 -z-10 hidden xl:right-10 xl:inline-block xxl:right-[90px]'>
      <Image
        src='/assets/img/elements/home-8-dot-shape-4.svg'
        alt='home-8-dot-shape-4'
        width='209'
        height='297'
      />
    </div>
  </div>
</section>
<div
  class='absolute -z-10 hidden xl:left-10 xl:inline-block xxl:left-[90px] xxl:top-[71%]'>
  <Image
    src='/assets/img/elements/home-8-dot-shape-5.svg'
    alt='home-8-dot-shape-5'
    width='97'
    height='226'
  />
</div>
<script>
  function togglePrice() {
    const prices = document.querySelectorAll(".price-month, .price-year");

    prices.forEach((price: any) => {
      if (price.classList.contains("hidden")) {
        price.classList.remove("hidden");
      } else {
        price.classList.add("hidden");
      }
    });
  }

  const toggleButton = document.getElementById("toggle") as HTMLInputElement;
  toggleButton.addEventListener("change", togglePrice);
</script>
