---
import { getEntryBySlug } from "astro:content";
import FooterPages from "./FooterPages.astro";
import Logo from "./Logo.astro";
import { Image } from "astro:assets";
const FooterData = await getEntryBySlug("site", "footer");
const {
  logo,
  description,
  mail,
  PrimaryPages,
  UtilityPages,
  Resources,
  socialLinks,
} = FooterData.data;
---

<footer class='section-footer z-20'>
  <div class='relative z-10 bg-[#121212]'>
    <div class='pt-20 lg:pt-[100px] xl:pt-32 xxl:pt-[200px]'>
      <div class='text-[#FDFBF9]/80'>
        <div class='py-[60px] lg:py-20'>
          <div class='container-default'>
            <div
              class='grid gap-x-16 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[1fr_repeat(3,_auto)] xl:gap-x-20 xxl:gap-x-[134px]'>
              <div class='flex flex-col gap-y-7 md:col-span-3 lg:col-span-1'>
                <Logo link='/' logo={logo} />
                <div>
                  <div class='lg:max-w-[416px]'>
                    {description}
                  </div>
                  <a
                    href={`mailto:${mail}`}
                    class='my-6 block underline-offset-4 transition-all duration-300 hover:underline'
                    >{mail}</a
                  >
                  <div class='flex flex-wrap gap-5'>
                    {
                      socialLinks.map((socialLink: any) => (
                        <a
                          href={socialLink?.link}
                          target='_blank'
                          rel='noopener noreferrer'
                          class='flex h-[30px] w-[30px] items-center justify-center rounded-[50%] bg-[#FDFBF9]/10 text-sm text-[#FDFBF9] transition-all duration-300 hover:bg-ColorLime hover:text-[#121212]'
                          aria-label='icon'>
                          <i class={`fa-brands ${socialLink?.icon}`} />
                        </a>
                      ))
                    }
                  </div>
                </div>
              </div>
              <div class='flex flex-col gap-y-7 md:col-span-1 lg:col-span-1'>
                <div class='text-xl font-semibold capitalize'>
                  Primary Pages
                </div>
                <ul class='flex flex-col gap-y-[10px] capitalize'>
                  <FooterPages data={PrimaryPages} />
                </ul>
              </div>
              <div class='flex flex-col gap-y-6 md:col-span-1 lg:col-span-1'>
                <div class='text-xl font-semibold capitalize'>
                  Utility pages
                </div>
                <ul class='flex flex-col gap-y-[10px] capitalize'>
                  <FooterPages data={UtilityPages} />
                </ul>
              </div>
              <div class='flex flex-col gap-y-6 md:col-span-1 lg:col-span-1'>
                <div class='text-xl font-semibold capitalize'>Resources</div>
                <ul class='flex flex-col gap-y-[10px] capitalize'>
                  <FooterPages data={Resources} />
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='bg-[#FDFBF9]/10 py-[18px] text-white/80'>
          <div class='container-default'>
            <div class='text-center'>
              &copy; Copyright {new Date().getFullYear()}, All Rights Reserved
              by ElevateMinds
            </div>
          </div>
        </div>
      </div>
      <div class='absolute left-0 top-0 -z-10 w-full'>
        <Image
          src='/assets/img/elements/arc-shape-black.png'
          alt='arc-shape-black'
          width='1600'
          height='94'
          class='w-full'
        />
      </div>
    </div>
    <div
      class='absolute -z-10 hidden xl:right-10 xl:top-20 xl:inline-block xxl:right-20 xxl:top-[100px]'>
      <Image
        src='/assets/img/elements/home-8-dot-shape-7.svg'
        alt='home-3-content-img-shape-7'
        width='268'
        height='291'
      />
    </div>
  </div>
</footer>
