---
import { Image } from "astro:assets";

const { HeroSectionData } = Astro.props;
const { header, description, images, buttonPrimary, buttonSecondary } =
  HeroSectionData?.data;
---

<section class='section-hero'>
  <div class='relative z-10 overflow-hidden'>
    <div class='pt-[105px] sm:pt-[145px] lg:pt-[185px]'>
      <div class='container-default relative z-10'>
        <div class='text-center'>
          <h1
            class='jos -trackig-[1px] mx-auto mb-6 font-PublicSans text-5xl font-bold leading-[1.06] text-[#121212] md:max-w-[80%] md:text-[60px] lg:max-w-[70%] lg:text-[70px] xl:max-w-[856px] xl:text-[90px]'>
            {header}
          </h1>
          <p class='jos mx-auto mb-8 max-w-[658px] lg:mb-[50px]'>
            {description}
          </p>
          <div class='jos flex flex-wrap justify-center gap-[18px]'>
            <a
              href={buttonPrimary.link}
              class='btn is-lime is-large btn-animation group rounded-[3px]'
              ><span>{buttonPrimary.text}</span></a
            >
            <a
              href={buttonSecondary.link}
              class='btn is-outline-black is-large btn-animation group rounded-[3px]'
              ><span>{buttonSecondary.text}</span></a
            >
          </div>
        </div>
        <div
          class='-z-10 -mb-[17px] mt-[60px] grid grid-cols-1 gap-8 sm:grid-cols-2 md:flex md:gap-10 lg:gap-14'>
          <div
            class='jos md:rotate-[5deg]'
            data-jos_animation='fade-left'
            data-jos_delay='0.3'>
            <Image
              src={images[0]}
              alt='hero-img-1'
              width='279'
              height='307'
              class='h-full w-full rounded-[5px] object-cover md:h-auto'
            />
          </div>
          <div
            class='jos md:-rotate-[5deg] md:self-end'
            data-jos_animation='fade-left'
            data-jos_delay='0'>
            <Image
              src={images[1]}
              alt='hero-img-2'
              width='279'
              height='250'
              class='h-full w-full rounded-[5px] object-cover md:h-auto'
            />
          </div>
          <div
            class='jos md:rotate-[5deg] md:self-end'
            data-jos_animation='fade-right'
            data-jos_delay='0'>
            <Image
              src={images[2]}
              alt='hero-img-3'
              width='279'
              height='250'
              class='h-full w-full rounded-[5px] object-cover md:h-auto'
            />
          </div>
          <div
            class='jos md:-rotate-[5deg]'
            data-jos_animation='fade-right'
            data-jos_delay='0.3'>
            <Image
              src={images[3]}
              alt='hero-img-4'
              width='279'
              height='307'
              class='h-full w-full rounded-[5px] object-cover md:h-auto'
            />
          </div>
        </div>
        <div class='absolute left-0 -z-10 hidden md:block lg:-top-[70px]'>
          <Image
            src='/assets/img/elements/hero-8-content-shape.svg'
            alt='hero-8-content-shape'
            width='291'
            height='331'
            class='h-auto w-[230px] xxl:h-[331px] xxl:w-[291px]'
          />
        </div>
        <div
          class='absolute top-[100px] -z-10 hidden md:block lg:right-10 xxl:right-0'>
          <Image
            src='/assets/img/elements/home-8-dot-shape.svg'
            alt='home-8-dot-shape'
            width='126'
            height='275'
            class='h-[200px] w-auto xxl:h-[275px] xxl:w-[125px]'
          />
        </div>
      </div>
    </div>
    <div class='absolute bottom-0 z-10 hidden w-full md:block'>
      <Image
        src='/assets/img/elements/section-devider-black.svg'
        alt='home-8-dot-shape'
        class='w-full'
        width='126'
        height='275'
      />
    </div>
  </div>
</section>
